@page "/product-options"
@using BlazorTable
@using LiteCommerce.Admin.Constants
@using LiteCommerce.Admin.Models.Business.ProductOption
@using LiteCommerce.Admin.Shared.Components

<PageTitle>Product Options</PageTitle>

<Breadcrumb Title="Product Options" BreadcrumbItems="breadcrumb"></Breadcrumb>

<div class="mb-7 d-flex justify-content-end">
    <button type="button" class="justify-content-center d-flex align-items-center btn btn-rounded btn-primary" @onclick="OpenAddModal">
        <i class="ti ti-plus fs-5 me-2"></i>
        Add Product Option
    </button>
</div>

@if (isLoading)
{
    <Loading></Loading>
}
else
{
    if (productOptions.Count == 0)
    {
        <Alert Content="@SystemMessages.NoData"></Alert>
    }
    else
    {
        <Table TableItem="ProductOptionResponse" Items="productOptions" PageSize="@AppConstants.PageSize" TableBodyClass="align-middle">
            <Column TableItem="ProductOptionResponse" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
            <Column TableItem="ProductOptionResponse" Title="Actions" Width="150px">
                <Template>
                    <div class="button-group text-center">
                        <button type="button" class="btn mb-0 bg-secondary-subtle btn-sm d-inline-flex align-items-center justify-content-center" @onclick="() => OpenEditModal(context.Id)">
                            <i class="fs-5 ti ti-pencil"></i>
                        </button>
                        <button type="button" class="btn mb-0 bg-danger-subtle btn-sm d-inline-flex align-items-center justify-content-center" @onclick="() => OpenDeleteModal(context.Id, context.Name)">
                            <i class="fs-5 ti ti-trash"></i>
                        </button>
                    </div>
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    }
}


<div class="modal fade" id="productOptionModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h5 class="modal-title text-white" id="modalTitle">@(isEditMode ? "Edit Product Option" : "Add Product Option")</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="HideModal" aria-label="Close"></button>
            </div>
            <EditForm Model="productOptionForm" OnValidSubmit="FormSubmitted">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-6 row align-items-center">
                        <label for="name" class="form-label col-sm-3 col-form-label">Product Option Name <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <InputText id="name" class="form-control" @bind-Value="productOptionForm.Name" autocomplete="off" placeholder="Ex: Color, Size, Material..." />
                            <ValidationMessage For="@(() => productOptionForm.Name)" />
                        </div>
                    </div>
                    <p class="mb-0">(<span class="text-danger">*</span>) Mandatory</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="justify-content-center d-flex align-items-center btn btn-outline-warning" @onclick="HideModal">
                        <i class="ti ti-x fs-5 me-2"></i>
                        Cancel
                    </button>
                    <button type="submit" class="justify-content-center d-flex align-items-center btn btn-outline-primary">
                        <i class="ti ti-device-floppy fs-5 me-2"></i>
                        Save
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
