@page "/brands"
@using BlazorTable
@using LiteCommerce.Admin.Constants
@using LiteCommerce.Admin.Models.Business.Brand
@using LiteCommerce.Admin.Shared.Components

<PageTitle>Brands</PageTitle>

<Breadcrumb Title="Brands" BreadcrumbItems="breadcrumb"></Breadcrumb>

<div class="mb-7 d-flex justify-content-end">
    <button type="button" class="justify-content-center d-flex align-items-center btn btn-rounded btn-primary" @onclick="OpenAddModal" >
        <i class="ti ti-plus fs-5 me-2"></i>
        Add Brand
    </button>
</div>

@if (isLoading)
{
    <Loading></Loading>
}
else
{
    if (brands.Count == 0)
    {
        <Alert Content="@SystemMessages.NoData"></Alert>
    }
    else
    {
        <Table TableItem="BrandModel" Items="brands" PageSize="10" TableBodyClass="align-middle">
            <Column TableItem="BrandModel" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
            <Column TableItem="BrandModel" Title="Is Published" Field="@(x => x.IsPublished)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsPublished">
                    </div>
                </Template>
            </Column>
            <Column TableItem="BrandModel" Title="Actions" Width="150px">
                <Template>
                    <div class="button-group text-center">
                        <button type="button" class="btn mb-0 bg-secondary-subtle btn-sm d-inline-flex align-items-center justify-content-center" @onclick="() => OpenEditModal(context.Id)">
                            <i class="fs-5 ti ti-pencil"></i>
                        </button>
                        <button type="button" class="btn mb-0 bg-danger-subtle btn-sm d-inline-flex align-items-center justify-content-center" @onclick="() => OpenDeleteModal(context.Id, context.Name)">
                            <i class="fs-5 ti ti-trash"></i>
                        </button>
                    </div>
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    }
}


<div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h5 class="modal-title text-white" id="modalTitle">@(isEditMode ? "Edit Brand" : "Add Brand")</h5>
                <button type="button" class="btn-close btn-close-white" @onclick="HideModal" aria-label="Close"></button>
            </div>
            <EditForm Model="brandForm" OnValidSubmit="FormSubmitted">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-6 row align-items-center">
                        <label for="name" class="form-label col-sm-3 col-form-label">Brand name <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <InputText id="name" class="form-control" @bind-Value="brandForm.Name" autocomplete="off" placeholder="Ex: Apple, Samsung, Nike, Adidas..." />
                            <ValidationMessage For="@(() => brandForm.Name)" />
                        </div>
                    </div>
                    <div class="mb-6 form-check form-switch">
                        <InputCheckbox class="form-check-input" id="IsPublished" @bind-Value="brandForm.IsPublished" />
                        <label class="form-check-label" for="IsPublished">Brand is published</label>
                    </div>
                    <p class="mb-0">(<span class="text-danger">*</span>) Mandatory</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="justify-content-center d-flex align-items-center btn btn-outline-warning" @onclick="HideModal">
                        <i class="ti ti-x fs-5 me-2"></i>
                        Cancel
                    </button>
                    <button type="submit" class="justify-content-center d-flex align-items-center btn btn-outline-primary">
                        <i class="ti ti-device-floppy fs-5 me-2"></i>
                        Save
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>