@page "/categories"
@using BlazorTable
@using LiteCommerce.Admin.Constants
@using LiteCommerce.Admin.Models.Business
@using LiteCommerce.Admin.Shared.Components

<PageTitle>Categories</PageTitle>

<Breadcrumb Title="Categories" BreadcrumbItems="breadcrumb"></Breadcrumb>

<div class="mb-7 d-flex justify-content-end">
    <button type="button" class="justify-content-center d-flex align-items-center btn btn-rounded btn-primary">
        <i class="ti ti-plus fs-5 me-2"></i>
        Add Category
    </button>
</div>

@if (isLoading)
{
    <Loading></Loading>
}
else
{
    if (categories.Count == 0)
    {
        <Alert Content="@SystemMessages.NoData"></Alert>
    }
    else
    {
        <Table TableItem="Category" Items="categories" PageSize="10" TableBodyClass="align-middle">
            <Column TableItem="Category" Title="Name" Field="@(x => x.DisplayName)" Sortable="true" Filterable="true" />
            <Column TableItem="Category" Title="Display order" Field="@(x => x.DisplayOrder)" Sortable="true" Filterable="true" />
            <Column TableItem="Category" Title="Include in menu" Field="@(x => x.IncludeInMenu)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IncludeInMenu">
                    </div>
                </Template>
            </Column>
            <Column TableItem="Category" Title="Is Published" Field="@(x => x.IsPublished)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsPublished">
                    </div>
                </Template>
            </Column>
            <Column TableItem="Category" Width="150px">
                <Template>
                    <div class="button-group text-center">
                        <button type="button" class="btn mb-0 bg-secondary-subtle btn-sm d-inline-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-pencil"></i>
                        </button>
                        <button type="button" class="btn mb-0 bg-danger-subtle btn-sm d-inline-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-trash"></i>
                        </button>
                    </div>
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    }
}