@page "/products"
@using BlazorTable
@using LiteCommerce.Admin.Constants
@using LiteCommerce.Admin.Models.Business.Product
@using LiteCommerce.Admin.Shared.Components

<PageTitle>Products</PageTitle>

<Breadcrumb Title="Products" BreadcrumbItems="breadcrumb"></Breadcrumb>

<div class="mb-7 d-flex justify-content-end">
    <a class="justify-content-center d-flex align-items-center btn btn-rounded btn-primary" href="/products/add">
        <i class="ti ti-plus fs-5 me-2"></i>
        Add Product
    </a>
</div>

@if (isLoading)
{
    <Loading></Loading>
}
else
{
    if (products.Count == 0)
    {
        <Alert Content="@SystemMessages.NoData"></Alert>
    }
    else
    {
        <Table TableItem="BasicProductResponse" Items="products" PageSize="@AppConstants.PageSize" TableBodyClass="align-middle">
            <Column TableItem="BasicProductResponse" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
            <Column TableItem="BasicProductResponse" Title="Is Featured" Field="@(x => x.IsFeatured)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsFeatured">
                    </div>
                </Template>
            </Column>
            <Column TableItem="BasicProductResponse" Title="Allow To Order" Field="@(x => x.IsAllowToOrder)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsAllowToOrder">
                    </div>
                </Template>
            </Column>
            <Column TableItem="BasicProductResponse" Title="Call For Pricing" Field="@(x => x.IsCallForPricing)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsCallForPricing">
                    </div>
                </Template>
            </Column>
            <Column TableItem="BasicProductResponse" Title="Is Published" Field="@(x => x.IsPublished)" Sortable="true" Filterable="true">
                <Template>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" disabled checked="@context.IsPublished">
                    </div>
                </Template>
            </Column>
            <Column TableItem="BasicProductResponse" Title="Actions" Width="150px">
                <Template>
                    <div class="button-group text-center">
                        <a href="/products/edit/@context.Id" class="btn mb-0 bg-secondary-subtle btn-sm d-inline-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-pencil"></i>
                        </a>
                        <button type="button" class="btn mb-0 bg-danger-subtle btn-sm d-inline-flex align-items-center justify-content-center" @onclick="() => OpenDeleteModal(context.Id.ToString(), context.Name)">
                            <i class="fs-5 ti ti-trash"></i>
                        </button>
                    </div>
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    }
}